/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'MedievalSharp', cursive;
  color: antiquewhite;
  text-align: center;
  background-image: url("../src/hmmo169ratio.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Prevent overlaps */
  background-attachment: fixed;
}

/* Header styles */
.header {
  background: rgba(0, 0, 0, 0.75);
  padding: 15px;
  margin: auto;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  border: 5px solid rgba(42, 26, 8, 0.7);
}

.header h1 {
  font-size: 30px;
  text-shadow: 2px 2px 4px black;
}

.header p {
  font-size: 16px;
  margin-top: 5px;
  text-shadow: 1px 1px 2px black;
}

/* Transparent container styles */
.transparent-container {
  background: rgba(42, 26, 8, 0.80);
  padding: 0px;
  border-radius: 10px;
  max-width: 800px;
  min-width: 650px;
  max-height: 800px;
  min-height: 200px;
  margin: 10px auto; /* Center horizontally */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  border: 4px solid rgba(42, 26, 8, 0.90);
}


.transparent-container h3 {
  font-size: 22px;
  margin-bottom: 15px;
}

.transparent-container p {
  font-size: 18px;
  margin: 10px 0;
}

.transparent-container a {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  background: #795649;
  color: #f4e5c3;
  text-decoration: none;
  border: 2px solid #c0a080;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease, transform 0.2s ease;
}

.transparent-container a:hover {
  background: #8a6e2f;
  transform: scale(1.05);
}

/* Footer styles */
.footer {
  background: rgba(0, 0, 0, 0.75);
  padding: 5px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 15%;
  z-index: 10;
  border: 5px solid rgba(42, 26, 8, 0.7);
  animation: slide-up 0.5s ease-in-out;
}

.footer p {
  font-size: 14px;
  margin: 5px 0;
  text-shadow: 1px 1px 2px black;
}

.footer a {
  color: antiquewhite;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  text-decoration: underline;
}